{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}
<div class="container text-center">
    <div class="row justify-content-md-left">
      <div class="col-md-auto"></div>
      <div class="col col-lg-2" style="margin-top: 50px;">

        <form action="/create-portfolio" method="POST">
          <div class="row g-3 align-items-center">

            <div class="text-center">
              <label for="inputPassword5" class="form-label"><b>Portfolio Name</b></label>
              <input type="portfolio" id="portfolio" class="form-control" placeholder="portfolio name" name="portfolio">
              <select class="form-select" aria-label="Default select example" name="portfolio_id">
                <option selected>portfolio #</option>
                <option value="portfolio1">Portfolio 1</option>
                <option value="portfolio2">Portfolio 2</option>
                <option value="portfolio3">Portfolio 3</option>
              </select>
            </div>

            <div class="text-center">
              <label class="form-label"><b>Equity 1</b></label>
              <input type="text" id="symbol1" class="form-control" placeholder="symbol" name="symbols[]">
            </div>
            <div class="text-center">
              <input type="text" id="exchange1" class="form-control" placeholder="exchange" name="exchanges[]">
            </div>

            <div class="text-center">
              <label class="form-label"><b>Equity 2</b></label>
              <input type="text" id="symbol2" class="form-control" placeholder="symbol" name="symbols[]">
            </div>
            <div class="text-center">
              <input type="text" id="exchange2" class="form-control" placeholder="exchange" name="exchanges[]">
            </div>

            <div class="text-center">
              <label class="form-label"><b>Equity 3</b></label>
              <input type="text" id="symbol3" class="form-control" placeholder="symbol" name="symbols[]">
            </div>
            <div class="text-center">
              <input type="text" id="exchange3" class="form-control" placeholder="exchange" name="exchanges[]">
            </div>

            <div class="text-center">
              <label class="form-label"><b>Equity 4</b></label>
              <input type="text" id="symbol4" class="form-control" placeholder="symbol" name="symbols[]">
            </div>
            <div class="text-center">
              <input type="text" id="exchange4" class="form-control" placeholder="exchange" name="exchanges[]">
            </div>

            <div class="text-center">
              <label class="form-label"><b>Equity 5</b></label>
              <input type="text" id="symbol5" class="form-control" placeholder="symbol" name="symbols[]">
            </div>
            <div class="text-center">
              <input type="text" id="exchange5" class="form-control" placeholder="exchange" name="exchanges[]">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mb-3" style="width: 100px;">Create</button>
            </div>

          </div>
        </form>

      </div>
      <div class="col-md-auto"></div>
    </div>
{% endblock %}