{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1 style="text-align: center;">Portfolios</h1>
    <div class="container">

        <div class="row">
            {% if not portfolio1_name == "none" %}
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">{{ portfolio1_name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for stock in investments %}
                            {% if stock[5] == "portfolio1" %}
                            <tr>
                                <td>
                                    {{ stock[1] }}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if not portfolio2_name == "none" %}
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">{{ portfolio2_name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for stock in investments %}
                            {% if stock[5] == "portfolio2" %}
                            <tr>
                                <td>
                                    {{ stock[1] }}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if not portfolio3_name == "none" %}
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">{{ portfolio3_name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for stock in investments %}
                            {% if stock[5] == "portfolio3" %}
                            <tr>
                                <td>
                                    {{ stock[1] }}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}