{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<div class="col-md-4 col-md-offset-4">  
    <form action="/register" method="POST">
        <h2>Register</h2><div>*Please do not use a password you use on other sites*</div>
        <h5 style="color: red;">{{ problem }}</h5>
        <div class="form-group">
            <label for="name" class="form-label">Username</label>
            <input
                type="text" 
                class="form-control" 
                id="username" 
                name="username"
                placeholder="Enter a Username"
            />
            <div id="usernameHelp" class="form-text">Username must be between 5 and 25 characters in length.</div>
        </div>
        
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input
                type="password" 
                class="form-control" 
                id="password" 
                name="password"
                placeholder="Password"
            />
            <div id="passwordHelp" class="form-text">Password must contain at least 1 letter, 1 number and 1 special character.</div>
        </div>

        <div class="form-group">
          <label for="confirmpassword" class="form-label">Confirm Password</label>
          <input
              type="password" 
              class="form-control" 
              id="confirmpassword" 
              name="confirmpassword"
              placeholder="Password"
          />
          <div id="passwordHelp" class="form-text">FILL IN IF NEEDED</div>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top: 2px;">Register</button>
    </form>
</div>

{% endblock %}